<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="export_migliorshop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <export_migliorshop.Properties.Settings>
            <setting name="percorso_winfarm" serializeAs="String">
                <value>c:/program files (x86)/winfarm/archivi/arc2000.phs</value>
            </setting>
        </export_migliorshop.Properties.Settings>
    </userSettings>
</configuration>